@charset "UTF-8";
/* CSS Document */

h2{
	font-size: 2rem;
	font-weight: normal;
	border: 1px solid #000;
	display: block;
	width: 200px;
	height: 200px;
	margin: 100px auto 0;
	border-radius: 50%;
	line-height: 6;
}
h2.undline{
	width: 80%;
	line-height:1.5;
	margin:0 auto;
	height:auto;
	border-radius: 0;
	border: none;
	border-left:10px solid #333;
	font-size: 2.5rem;
	text-align: left;
	padding-left: 1rem;

}
h3{
	font-size: 1.5rem;
	font-weight: normal;
}
#contentWrap{
	width:100%;
	font-family: "Cormorant Garamond", "Noto Serif JP", serif;
	background-image:url('../img/bg.jpg');
	background-size:cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	
}
.header{
	position: fixed;
	width: 100%;
	background-color: white;
	background-image: none;
	text-align: center;
	height: 100px;
	align-content: center;
	font-size: 1.4rem;
	top: 0;
	left: 0;
	right: 0;
}
.bgWhitegrad{
	background-color:transparent;
	background-image: linear-gradient(0deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4) 20%, rgba(255, 255, 255, 0.8) 60%, rgba(255, 255, 255, 1) 95%);
}
.header ul{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	font-size: 1rem;
	height: 80%;
	align-items: center;
	padding: 0 30px;
	box-shadow: 0px 10px 10px -5px rgba(200,200,200,.5);
}
.header li{
	display: flex;
	justify-content: space-between;
	padding: 0 15px 0 0;
}
.header li:nth-child(2n)::before{
	content: "/";
	padding: 0 15px 0 0;
}

.header a,
.header a:hover{
	text-decoration: none;
}
.header a{
	display: block;
	width: 100%;
	color: #fff;
}
.header li a{
	color: #333;
}
.header a span{
	display: block;
	width: 50%;
	padding: 5px 15px;
	border-radius: 50px;
	background: rgba(100,100,100,0.4);
	margin: 0 auto;
}
#contentWrap .main{
	width:100%;
}
#contentWrap .main .mainWrap{
	width:80%;
	margin:0 auto;
	background-color:white;
}
#contentWrap .main .mainWrap .article{
	width:100%;
}
#contentWrap .main .mainWrap .article .articleWrap{
	width:100%;
	margin: 50px auto;
}
#contentWrap .main .mainWrap .article .articleWrap section{
	width:100%;
	margin: 70px auto;
}
#contentWrap .main .mainWrap .article .articleWrap .section_000 .sectionWrap .sectionInner{
	width: 80%;
	margin:30px auto;
}
#contentWrap .main .mainWrap .article .articleWrap .section_000 .sectionWrap .sectionInner p{
	padding:0 10px;
	font-size: 1rem;
}
#contentWrap .main .mainWrap .article .articleWrap .section_001 .sectionWrap .sectionInner,
#contentWrap .main .mainWrap .article .articleWrap .section_002 .sectionWrap .sectionInner{
	width: 100%;
	margin: 30px auto;
}
#contentWrap .main .mainWrap .article .articleWrap .section_001 .sectionWrap .sectionInner ul,
#contentWrap .main .mainWrap .article .articleWrap .section_002 .sectionWrap .sectionInner ul{
	display: flex;
	width: 90%;
	margin: 0 auto;
}
#contentWrap .main .mainWrap .article .articleWrap .section_001 .sectionWrap .sectionInner ul li a,
#contentWrap .main .mainWrap .article .articleWrap .section_002 .sectionWrap .sectionInner ul li a{
	width: 90%;
	margin: 0 auto;
	justify-content: center;
	background: #eee;
	border-radius: 5px;
	padding: 30px 10px;
	align-content: center;
}
#contentWrap .main .mainWrap .article .articleWrap .section_001 .sectionWrap .sectionInner ul li a{
	display: flex;
	flex-direction: row;
}
#contentWrap .main .mainWrap .article .articleWrap .section_002 .sectionWrap .sectionInner ul li a{
	display: block;	
}
#contentWrap .main .mainWrap .article .articleWrap .section_001 .sectionWrap .sectionInner ul li a img,
#contentWrap .main .mainWrap .article .articleWrap .section_002 .sectionWrap .sectionInner ul li a img{
	display: block;
	width: 100%;
	padding: 0;
	margin: 0 auto;
	border: 1px solid #000;
}
#contentWrap .main .mainWrap .article .articleWrap .section_001 .sectionWrap .sectionInner ul li a picture:nth-child(2){
	padding-top:30px;
}

@media (max-width:767px) {
	h2.undline{
		width: 95%;
	}
	.header ul{
		justify-content: center;
		padding: 0 10px;
	}

	#contentWrap .main .mainWrap .article .articleWrap .section_001 .sectionWrap .sectionInner ul,
	#contentWrap .main .mainWrap .article .articleWrap .section_002 .sectionWrap .sectionInner ul{
		flex-direction: column;
	}
	#contentWrap .main .mainWrap .article .articleWrap .section_001 .sectionWrap .sectionInner ul li a,
	#contentWrap .main .mainWrap .article .articleWrap .section_002 .sectionWrap .sectionInner ul li a{
		width: 90%;
		margin: 15px auto;
	}
	#contentWrap .main .mainWrap .article .articleWrap .section_001 .sectionWrap .sectionInner ul li a img{
		width: 90%;
	}


}

